<h3>Post a Comment</h3>

<%= form_with(model: @comment, url: [ @post, @comment ], remote: true) do |f| %>
 <p>
  <%= f.label :author, "Your Name" %><br/>
  <%= f.text_field :author %>
 </p>
 <p>
  <%= f.label :content %><br/>
  <%= f.text_area :content %>
 </p>
 <p>
  <%= f.submit 'Submit' %>
 </p>
<% end %>


