<p id="notice"><%= notice %></p>

<h1>Posts</h1>

 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead style= "background-color: #bdacac; font-family: 'Mark-Pro';font-size: 12.7px">
    <tr class="text-gray">
      <th>Name</th>
      <th>Content</th>
      <th>File</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= truncate(strip_tags(post.content), length:80) %></td>
        <td><%= post.file %></td>
        <td><%= post.category.name %></td>
        <td><%= link_to 'Show', category_post_path(@category, post) %></td>
        <td><%= link_to 'Edit', edit_post_path(@category, post) %></td>
        <td><%= link_to 'Destroy', category_post_path(@category, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

