<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>File:</strong>
  <%= file_field_tag(@post.file.url) if @post.file? %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<%= link_to 'Edit', edit_category_post_path(@category, @post) %> |
<%= link_to 'Back', @category %>

<h3>Comments</h3>
<%= render partial: 'posts/comment', collection: @post.comments, remote: true %>
<%= render 'comment_form', comment: Comment.new, post_id: @post.id %>

