<p id="notice"><%= notice %></p>

<h1>Categories</h1>

 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead style= "background-color: #bdacac; font-family: 'Mark-Pro';font-size: 12.7px">
    <tr class="text-gray">
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>