<!DOCTYPE html>
<html>
  <head>
    <title>Blogpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.js') %>
    <%= javascript_include_tag('jquery_ujs.js') %>
  <meta name="author" content="rghost">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>
    <div class="allcontain">
     <div class="header">
      <ul class="logreg">
        <li><a href="#""><i class="fas fa-atlas"></i></a></li>
        <li><a href="#"><i class="fas fa-arrow-alt-circle-down"></i></a></li>
        <li><a href="#"><i class="fas fa-alicorn"></i></a></li>
        <li><a href="#"><i class="fas fa-archive"></i></a></li>
      </ul>
      <ul class="callme">
        <li>BLOG</li>
      </ul>
      <ul class="logreg">
        <% if current_page? categories_path %>
        <li><a href="<%= home_path %>">Home </a> </li>
        <% else %>
        <!--<li><a href="#">Posts </a> </li> -->
        <% end %>
      </ul>
  </div>
    <%= yield %>
  </body>
</html>
